mixin product(product)
	div.product_data(data-id=product.period)
		a(href=`/products/${product.id}`, data-id=product.category).product-mixin
			if product.endCheck
				img.sold_out_img(src="/img/soldOut.jpeg", alt="sold out")
			div.product-mixin__thumb
				img.product-mixin__thumb(src=product.fileUrl[0], crossorigin)
			div.product-mixin__title
				span.product-mixin__title #{product.title}
			div.product-minin__price
				span.product-minin__price ₩#{product.currentPrice}~
			div.product-minin__period
				span.product__period