extends base

block content
	div.page_title #{pageTitle}
	form(method="POST").edit-profile__form
		label(for="avatar") Avatar
		input(type="file", id="avatar", name="avatar", accept="image/*")
		input(placeholder="Email", name="email", type="email", required, disabled, value=loggedInUser.email)
		input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username)
		input(placeholder="Address", type="address", name="address", required, value=loggedInUser.address)
		input(placeholder="Detailed Address", type="address", name="address2", required, value=loggedInUser.address2)
		input(type="submit", value="Update Profile")
		if !loggedInUser.socialOnly
			div.edit-profile__password
				a(href="change-password") 비밀번호 변경 &rarr;
		div.sign_out 
			a(href="delete") 회원탈퇴 &rarr;