extends ../base

block content
	div.pageTitle #{pageTitle}
	form(method="POST", enctype="multipart/form-data").edit-profile__form
		label(for="avatar").form_avatar_label Photo File
		input(type="file", id="avatar", name="avatar", accept="image/*")
		input(placeholder="Email", name="email", type="email", required, disabled, value=loggedInUser.email)
		input(placeholder="Username", name="username", type="text", required, disabled, value=loggedInUser.username)
		input(placeholder="Address", type="address", name="address", required, value=loggedInUser.address)
		input(placeholder="Detailed Address", type="address", name="address2", required, value=loggedInUser.address2)
		button.form_submit Update Profile
		if !loggedInUser.social.socialOnly
			div.form_rarr_btn
				a(href="change-password") 비밀번호 변경 &rarr;
		div.form_rarr_btn 
			a(href="delete") 회원탈퇴 &rarr;